@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
    }
    
body{
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif !important;
}

section{
    overflow-y: hidden;
}

::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}


h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif !important;
}


/* Banner Section CSS */

.bannersection{
    margin-top: 10%;
    height: 100%;
    background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url("./Assets/background.png");
    background-repeat:repeat-y;
}

#profileImage{
    height: 100%;
}

hr{
    margin: 0px !important;
    border-top: 4px solid rgba(0,0,0,0.1) !important;
}


.textcontainer{
    position: absolute;
    top: 25%;
    left: 10%;
}


.exptext{
    padding-top: 5%;
    font-size: 20px;
    width: 75%;
    line-height: 200%;

}

.linktext{
    color: #0065ff !important;
}

.linktext:hover{
    cursor: pointer;
}

.socialicons{
    padding-top: 2%;
}

.socialicons img{
    padding-right: 40px;
    transition: transform .2s;
}

.socialicons img:hover{
    cursor: pointer;
    transform: scale(1.5);

}

.designationtext h1{
    white-space: nowrap;
    overflow: hidden;
}

.designationtext h1{
    font-weight: bold;

}

.designationtext h1:nth-child(1) {
    width:7em;
    -webkit-animation: type 2s steps(40, end);
    animation: type 2s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .designationtext h1:nth-child(2) {
    width: 7.3em;
    opacity: 0;
    -webkit-animation: type2 2s steps(40, end);
    animation: type2 2s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .designationtext h1:nth-child(3) {
    width: 9em;
    opacity: 0;
    -webkit-animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
    animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  .designationtext h1:nth-child(4) {
    width: 7.3em;
    opacity: 0;
    -webkit-animation: type4 2s steps(20, end), blink .5s step-end infinite alternate;
    animation: type4 2s steps(20, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  @keyframes type {
    0% {
      width: 0;
    }
    100% {
      border: none;
    }
  }
  
  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid white;
    }
    100% {
      border: none;
    }
  }
  
  @keyframes type2 {
    0% {
      width: 0;
      opacity: 1;
    }

    100% {
        opacity: 1;
      border: none;
    }
  }
  
  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid white;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes type4 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes type4 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: white;
    }
  }

  .exptext, .socialicons{
    -webkit-animation: 10s ease 0s normal forwards 1 fadein;
    animation: 10s ease 0s normal forwards 1 fadein;
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}






/* about section CSS */

.abtsection{
    padding: 5% 0%;
    width: 100%;
    background-color: #fcfcfc;
}

.abtsection svg{
    margin-left: -20%;
    width: 100%;
    height: auto;
}


/* svg Animation */
svg .bounce {
    -webkit-animation: mover 8s infinite  alternate;
    animation: mover 8s infinite  alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}


svg .bounce2 {
    -webkit-animation: mover1 2s infinite  alternate;
    animation: mover1 2s infinite  alternate;
}

@-webkit-keyframes mover1 {
    0% { transform: translateX(0); }
    100% { transform: translateX(-20px); }
}
@keyframes mover1 {
    0% { transform: translateX(0); }
    100% { transform: translateX(-20px); }
}


svg .bounce1 {
    -webkit-animation: mover 5s infinite  alternate;
    animation: mover 5s infinite  alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
/* SVG animation ends here*/


.abttxt h3{
    padding-top: 5%;
    font-size: 30px;
    font-weight: 200;
    padding-bottom: 5%;
}

.abttxt p{
    font-weight: 200;
    margin: 0;
    font-size: 18px;
    line-height: 180%;
    padding-bottom: 5%;
    width: 115% !important;
}

.abttxt span{
    font-weight: 500;
}

.quote{
    font-weight: 500 !important;
}



/* Education and Experience card CSS */

.cardscontainer{
    width: 90% !important;
    margin: 0 auto !important;
}

.educationsection{
    padding: 5% 0%;
}


.sectionsidebar{
width: 8px;
height: 50px;
background-color: #0065FF;
border-radius: 0px 4px 4px 0px;
}

.sectionTitle{
    margin: auto 0;
}

.sectionTitle span{
    padding-left: 16px;
    font-size: 28px;
    font-weight: 500;
}


.cardlist{
    margin-top: 10%;
}

.cardcontainer{
    padding: 2% 0%;
    margin-bottom: 5%;
    background-color: #fcfcfc;
    border-left: 4px solid #0065ff;
    width: 95%;
    border-radius: 4px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
}

.cardtitle h4{
    padding-bottom: 10px;
}

.carddetails{
    display: flex;
}

.carddetails span{
    vertical-align: middle;
    padding-left: 6px;
    font-size: 15px;
    line-height: 190%;
    padding-right: 24px;
}


/* Skill Section CSS */

.chartdiv{
        width: 50%;
        height: auto;
}

/* Skill Section CSS ends here */


