/* Lower resolution laptops */

@media screen 
  and (min-device-width: 1080px) 
  and (max-device-width: 1400px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    .textcontainer{
      padding-left: 10%;
    }

    #bannerText{
      padding-top: 30%;
      font-family: 'Poppins', sans-serif;
      font-weight: 200;
      font-size: 28px;
    }


    #profileImage{
        position: absolute;
        width: 75%;
        right: 10%;
        bottom: 0px;
        }


}


/* Non Retina */

@media screen 
  and (min-device-width: 1400px) 
  and (max-device-width: 2600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    .textcontainer{
      padding-left: 10%;
    }

    #profileImage{
        position: absolute;
        width: 85%;
        right: 0;
        bottom: 0px;
        }

        #bannerText{
          padding: 200px 0;
          font-family: 'Poppins', sans-serif;
          font-weight: 200;
          font-size: 40px;
          width: 100%;
        }


}



/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 2600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 

    .textcontainer{
      padding-left: 10%;
    }

    #profileImage{
        position: absolute;
        width: 90%;
        right: 0%;
        bottom: 0;
        }

        #bannerText{
          padding: 300px 0;
          font-family: 'Poppins', sans-serif;
          font-weight: 200;
          font-size: 40px;
        }


}



/* Mobile */


@media only screen and (min-width: 0px) and (max-width: 479px){

  .imagecontainer{
    position: relative;
    height: 100vh;
}

#profileImage{
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 28%;
  border-radius: 50%;
  /* border: 1px solid #eeeeee; */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .1); 

}

.textcontainer{
  margin-top: -40%;
  text-align: center;
}

#bannerText{
  padding: 0 !important;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 16px;
}


}