@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Lower resolution laptops */

@media screen 
  and (min-device-width: 1080px) 
  and (max-device-width: 1400px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    .textcontainer{
      padding-left: 10%;
    }

    .designationtext h1{
      font-size: 32px !important;
      font-family: 'Poppins', sans-serif;
    }

    #bannerText{
      padding-top: 30%;
      font-family: 'Poppins', sans-serif;
      font-weight: 200;
      font-size: 28px;
    }


    #profileImage{
        position: absolute;
        width: 75%;
        right: 10%;
        bottom: 0px;
        }


}


/* Non Retina */

@media screen 
  and (min-device-width: 1400px) 
  and (max-device-width: 2600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    .textcontainer{
      padding-left: 10%;
    }

    .designationtext h1{
      font-size: 32px !important;
      font-family: 'Poppins', sans-serif;
    }

    

    #profileImage{
        position: absolute;
        width: 85%;
        right: 0;
        bottom: 0px;
        }

        #bannerText{
          padding: 200px 0;
          font-family: 'Poppins', sans-serif;
          font-weight: 200;
          font-size: 40px;
          width: 100%;
        }


}



/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 2600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 

    .textcontainer{
      padding-left: 10%;
    }

    #profileImage{
        position: absolute;
        width: 90%;
        right: 0%;
        bottom: 0;
        }

        #bannerText{
          padding: 300px 0;
          font-family: 'Poppins', sans-serif;
          font-weight: 200;
          font-size: 40px;
        }


}



/* Mobile */


@media only screen and (min-width: 0px) and (max-width: 479px){
  .navbar{
    height: 50px;
}

#logoIcon{
  height: 16px;
  width: auto;
}

#themeIcon{
  height: 16px;
  width: auto;
}

  .imagecontainer{
    padding-top: 13%;
    position: relative;
    height: 50% !important;
    text-align: center;
}

#profileImage{
  position: inherit;
  width: 85%;;
}

.textcontainer{
  position: unset;
  text-align: center;
}

.designationtext{
  text-align: -webkit-center;
}

.designationtext h1{
  font-size: 20px;
}

.exptext{
  padding-top: 3%;
  font-size: 16px;
  width: 100%;
  line-height: 160%;

}

.socialicons img{
  padding: 0px 16px;
  transition: transform .2s;
  padding-bottom: 16px;
}

hr{
  display: block;
  margin-top: 0;
  border: 1px solid #cccccc;
}

}